PORT = 6690
MONGODB_URI = mongodb+srv://your-username:your-password@todocluster.j82xxkq.mongodb.net/?retryWrites=true&w=majority&appName=todocluster
BACKEND_URL = http://192.168.29.231:6690
FRONTEND_URL = http://192.168.29.231:5173